{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>

<html>
    <header>
        <title>Adhytia - Mahasiswa, Programmer</title>
        <link href="{% static 'css/story3.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    </header>
    <body>
        {% block content %}
        <div class="container bgformulir paddingtop60" style="margin-bottom: 20px; padding-bottom: 0px">
            <h3 class = "h1Formulir marginbottom10">JADWAL KEGIATAN</h3>

            <form action="" method="post">
                {% csrf_token %}
                <div class="row paddingtop20">
                    <!-- menampilkan template form yang telah dibuat oleh django -->
                    <div class="col-sm-3">
                        {{ form }}
                        <br>
                        <input  type="submit" value="Submit">        
                    </div>

                    <div class="col-sm" style="overflow: auto; height : 450px; margin-top: 10px">
                        <table style="width: 800px"  border="0" >
                            <!-- membuat nama kolom dari masing-masing data -->
                            <tr>
                                <td><h6>Nama Kegiatan</h6></td>
                                <td><h6>Tempat</h6></td>
                                <td><h6>Kategori</h6></td>
                                <td><h6>Tanggal</h6></td>
                                <td><h6>Waktu</h6></td>
                            </tr>

                            <!-- mengambil data dari database untuk ditampilkan ke dalam table -->
                            {% for d in data %}
                            <tr>
                                <td>{{ d.namaKegiatan }}</td>
                                <td>{{ d.tempat }}</td>
                                <td>{{ d.kategori }}</td>
                                <td>{{ d.date_field }}</td>
                                <td>{{ d.time_field }}</td>
                                <td><a href="{% url 'delete' d.id %}"><button type="button">Hapus</button></a></td>
                            </tr>
                            {% endfor %}
                        </table>                    
                    </div>

                </div>
            </form>
        </div>
        {% endblock content %}
    </body>    
</html>
