html, body{
    height: 100%; margin: 0;
    min-width: 400px;
}
#navbar{
    width: 100%;
}
.bg {
    height: 100%;
    width: 100%;
    background-color: #c1f4d7;
    background-size: cover;
}
.bgformulir{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-color: #c1f4d7;
    -o-background-size: cover;
    background-size: cover;
}
.h1Formulir{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bgwhite{
    height: 100%;
    width: 100%;
    background-color: white;
    background-size: cover;
}
#hai{
    font-family: Chewy, "Times New Roman", Times, serif;
}
#keterampilansaya{
    margin-top: 30px;
    margin-bottom: 30px;
}
h1, h2, h3, h4, h5, h6, p{
    color: #47525e;
}
.col-sm table tr td h6{
    color: black;
}
.navBarBackground{
    background-color: #ffffff;
}
.navcolor{
    color: #00B500;
}
.paddingtop60{
    padding-top: 60px;
}
.paddingtop20{
    padding-top: 20px;
}
.paddingtop80{
    padding-top: 80px;
}
.fotopendidikan{
    max-width: 120px;
    max-height: 120px;  
}
.fotoquanta{
    width: 50px;
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.fotomedsos{
    width: 50px;
    height: 50px;
    margin-top: 30px;
}
#fototentangsaya{
    width: 250px;
    margin-right: 20px; 
    margin-left: 60px; 
    margin-top: 50px;
}
.icon{
    max-width: 170px;
    max-height: 750px;
}
.textWhenSmallLeftCenter{
    text-align: left;
}
.textWhenSmallRightCenter{
    text-align: right;
}
.fullheight{
    height: 100%;
}
.marginleft80{
    margin-left: 80px;
}
.marginleft40{
    margin-left: 40px;
}
.marginright80{
    margin-right: 80px;
}
.marginbottom10{
    margin-bottom: 10px;
}
.jumbotron{
    height: 250px;
    background-color: #ffffff;
    text-align: center;
}
@media (max-width: 860px) {
    .hideWhenSmall{
        display: none;
    }

@media (max-width: 768px) {
    .col-md-6{
        text-align: center;
    }
    .textWhenSmallLeftCenter{
        text-align: center;
    }
    .textWhenSmallRightCenter{
        text-align: center;
    }
    .marginleft80{
        margin-left: 0px;
        text-align: center;
    }
    .marginleft40{
        margin-left: 0px;
    }
    .marginright80{
        margin-right: 0px;
    }
    .fullheight{
        height: 0%;
        padding-top: 50px;
    }
    #fototentangsaya{
        display: none;
    }
    .fullheight{
        padding-top: 150px;
    }
}

}

